@import url("fonts.css");

:root {
   /*css variables*/
   --social_hover: #ff5500;
   --social_inactive: #ffffff;
   --body_background: url(../images/headerbg.jpg);
   --pp_border: 70% 30% 70% 30% / 30% 70% 30% 70%;
}

body::-webkit-scrollbar {
   /*hide scrollbar if content overflows*/
   display: none;
}

html {
   height: 100%;
   margin: 0;
}

body {
   background-image: var(--body_background);
   background-position: center;
   background-size: cover;
}

ul {
   margin-bottom: 24px;
   margin-top: 24px;
}

li {
   line-height: 18px;
   margin-bottom: 12px;
}

.pp {
   margin-bottom: 20px;
   border-radius: var(--pp_border);
   max-width: 25%;
   width: 250px;
}

.subtext{
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #f3d5df;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.description{
   font: 12px/1.2em 'librebaskerville-regular', serif;
   color:#dac9ce;
   margin: 10px auto;
   width: 80%;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .7);
}

@media only screen and (max-width: 767px) {

   .row {
      width: 460px;
      margin: 0 auto;
      padding: 0;
   }

   .row .row {
      width: auto;
      max-width: none;
      margin: 0 -30px;
   }
}

@media screen and (min-width: 1200px) {
   .wide .row {
      max-width: 1180px;
   }
}

header {
   position: relative;
   margin-top: 10vh;
   width: 100%;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text {
   width: 100%;
}

header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}


header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}


header .social li a {
   color: var(--social_inactive);
}

header .social li a:hover {
   color: var(--social_hover);
}



/*MEDIA QUERIES*/

@media only screen and (max-width: 1024px) {

   header .banner-text h1 {
      font: 80px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;
      margin: 0 auto 12px auto;
   }
}

@media only screen and (max-width: 900px) {

   header .banner {
      padding-bottom: 12px;
   }

   header .banner-text h1 {
      font: 78px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;
   }

   .subtext {
      font: 17px/1.9em 'librebaskerville-regular', serif;
      width: 80%;
   }

   header .banner-text hr {
      width: 65%;
      margin: 12px auto;
   }
}

@media only screen and (max-width: 767px) {

   /* Header Styles
   -------------------------------------------------------------------- */
   header .banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }

   header .banner-text h1 {
      font: 68px/1.1em 'opensans-bold', sans-serif;
   }

   .subtext {
      font: 16px/1.9em 'librebaskerville-regular', serif;
      width: 85%;
   }

   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }

   /* header social links */
   header .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;
   }

   header .social li {
      margin: 0 10px;
   }
}

@media only screen and (max-width: 480px) {

   header .banner {
      padding-top: 24px;
   }

   header .banner-text h1 {
      font: 40px/1.1em 'opensans-bold', sans-serif;
      margin: 0 auto 24px auto;
   }

   .subtext {
      font: 14px/1.9em 'librebaskerville-regular', sans-serif;
      width: 90%;
   }

   /* header social links */
   header .social {
      font-size: 20px;
   }

   header .social li {
      margin: 0 6px;
   }
}
